$orange: #f7b71e;
$danger: #a94442;
$success: #dff0d8;
$danger_light: #f2dede;
$bg_light: #f2f2f2;

$steam_bg_blue: #252934;
$steam_bg_blue_light: #2f3c4f;
$steam_dark_gray: #16191c;
$steam_light_gray: #353b41;

$section_bg: #374757;

body {
  overflow-x: hidden;
  background: $steam_dark_gray;
  color: #ffffff;
}

.loading {
  padding: 5px;
  text-align: center;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.strong {
  font-weight: bold;
}
a {
  color: #000000;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
.bg-success, .bg-danger, .bg-info {
  padding: 5px 10px;
  text-align: center;
}
.btn-fullwidth {
  width: 100%;
  margin-bottom: 10px;
}
.red {
  color: $danger;
}
.orange {
  color: $orange;
}
legend {
  font-size: 16px;
}
.img {
  max-width: 100%;
}
input.error {
    border: 1px solid $danger;
}
.error-field {
  color: $danger;
  padding: 5px;
  margin: 0;
  text-align: center;
}
.error-block {
  background: $danger;
  padding: 10px;

  p {
    color: #ffffff;
    text-align: center;
  }
}
.field-label {
  line-height: 35px;
}
.section {
  background: $section_bg;
  margin: 10px 0;
  padding: 5px 20px;

  h2 {
    background: $steam_bg_blue;
    padding: 10px 0;
  }
}


/**
  Navigation
 */
nav {
  background: $steam_light_gray;

  a {
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
  }
  a:visited, a:active, a:focus {
    color: #ffffff;
    text-decoration: none;
  }
  a:hover {
    color: $bg_light;
    background: $steam_bg_blue_light;
  }
  a.steam-logged-btn {
    color: $success;

    .fa {
      color: #ffffff;
    }
  }
}

.users-panel {
  margin-top: 10px;

  .steam-profile-button {
    width: 100%;
  }
}
.steam-profile-button {
  background: $steam_light_gray;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  img {
    margin-right: 10px;
    border: 1px solid $bg_light;
  }
}
.steam-profile-button:hover {
  color: #ffffff;
  background: $steam_bg_blue_light;
}
.steam-profile-button:visited, .steam-profile-button:active, .steam-profile-button:focus {
  color: #ffffff;
  text-decoration: none;
}
.steam-profile-button.selected {
  background: $bg_light;
  color: $steam_dark_gray;
}


/**
  Admin
 */
.admin {

}

/**
  Teams
 */
.team {
  background: $steam_bg_blue;
  padding: 5px 10px;
  margin-top: 5px;

  .team-name {
    background: $steam_bg_blue_light;
    padding: 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .steam-profile-button {
    width: 100%;
  }
}


/**
  Tournament
 */
.tournament {

}
.round, .group {
  overflow: hidden;
  width: 100%;

  .name {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    display: block;
    margin: 10px 0;
  }

  .vs {
    font-size: 26px;
    margin-top: 8px;
    display: block;
  }
}
.group {
  .name {
    background: red;
  }
  .group-table {
    list-style: none;
    border: 1px solid gray;
    display: block;
    padding: 0;
    overflow: hidden;

    li {
      padding: 8px 10px;
      display: block;
      width: 100%;

      span {
        float: right;
        font-size: 18px;

        a {
          color: red;
        }
      }
    }
    li:nth-child(odd) {
      background: $steam_bg_blue_light;
    }
  }
}
.round {
  .name {
    background: transparent;
  }
}

.tournament-list {
  background: white;
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
}

.team-score {
  text-align: right;
  line-height: 30px;

  a {
    margin: 0 5px;
    color: red;
  }

  span {
    font-size: 18px;
  }
}

.servers {
  a {
    color: red;
    display: inline-block;
    line-height: 30px;
    font-size: 18px;
  }
}
